.DS_Store
testing swiping.xcodeproj/project.xcworkspace/xcuserdata/bettypeng.xcuserdatad/UserInterfaceState.xcuserstate
testing swiping.xcodeproj/project.xcworkspace/xcuserdata/bettypeng.xcuserdatad/UserInterfaceState.xcuserstate